body {
  background-color:gold
}

header {
  width: 90%;
  margin: auto;

}

h1 {
  color: tomato;
  padding: 20px;
  
}

header img {
  float: left;
}

.grid-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: minmax(200px, auto);
  row-gap: 20px;
  column-gap: 20px; 
  border: 1px solid black;;

  grid-template-areas:
    "grid-item1 grid-item1 grid-item1"
    "choose choose choose"
    "grid-item2 grid-item2 grid-item2"
    "results results results"
    "FOOTER FOOTER FOOTER"
}

.grid-container div {
  border: 1px solid black;
  font-size: 1.5em;
  padding: 30px;

}

.grid-item1 {
  grid-area: grid-item1;
  display: flex;
}

.choose {
  grid-area: choose;
}

.grid-item2 {
  grid-area: grid-item2;
}

#show-results-btn:hover {
  grid-area: results;
  background-color: hotpink;
  color: aliceblue;
}

.FOOTER {
  grid-area: FOOTER;
}

#img-container img {
  height: 17vw;
  width: 17vw;
  justify-content: space-evenly;
  padding: 1vw;
} 

