body {
  background-color:gold;
  width: 80%;
  margin: auto;
}

header {
  width: 90%;
  margin: auto;

}

h1 {
  color: tomato;
  padding: 20px;
  
}

header img {
  float: left;
}

.grid-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: minmax(200px, auto);
  border: 5px solid white;
  grid-template-areas:
    "grid-item1 grid-item1 grid-item1"
    "choose choose choose"
    "results results results"
    "grid-item2 grid-item2 grid-item2"
    "FOOTER FOOTER FOOTER"
}

.grid-container div {
  font-size: 1.5em;
  /* padding: 30px; */

}

.grid-item1 {
  grid-area: grid-item1;
  display: flex;
  border: 5px solid white;
}

.choose {
  grid-area: choose;
  border: 5px solid white;
  margin-top: 0px;
  background-color:coral;
}

.grid-item2 {
  grid-area: grid-item2;
  border: 5px solid white;
  margin-top: 0px;
  background-color: aliceblue;
  
}

#show-results-btn:hover {
  grid-area: results;
  background-color: gold;
  color: tomato;
  border: 5px solid white;
  padding-left: 200px;

}

.FOOTER {
  grid-area: FOOTER;
  border: 5px solid white;
  padding-left: 200px;

}

#img-container img {
  height: 17vw;
  width: 17vw;
  justify-content: space-evenly;
  padding: 1vw;
} 

